body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}


.dl-horizontal dt {
    white-space: normal;
}

input,
select,
textarea {
    max-width: 280px;
}

table {
    margin:15px;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}


.False {
    width: 30px;
    background-color: gray;
    padding: 10px;
    border-width: 0.5px;
    border-style: solid;
}

.True {
    width: 30px;
    background-color: lime;
    padding: 10px;
    border-width: 0.5px;
    border-style: solid;
}
